openapi: "3.0.3"
info:
  title: "https://www.google-analytics.com API"
  version: "1.0.0"
  description: Auto-generated by MimicAPI from recorded traffic. Review and refine before production use.
servers:
  -
    url: "https://www.google-analytics.com"
paths:
  /g/collect:
    post:
      summary: POST /g/collect
      parameters:
        -
          name: v
          in: query
          required: false
          schema:
            type: integer
            example: 2
        -
          name: tid
          in: query
          required: false
          schema:
            type: string
            example: G-E3C3GCQVBN
        -
          name: gtm
          in: query
          required: false
          schema:
            type: string
            example: "45je63g1v884780828za200zd884780828"
        -
          name: _p
          in: query
          required: false
          schema:
            type: integer
            example: 1773849554043
        -
          name: gcd
          in: query
          required: false
          schema:
            type: string
            example: "13l3l3l3l1l1"
        -
          name: npa
          in: query
          required: false
          schema:
            type: integer
            example: 0
        -
          name: dma
          in: query
          required: false
          schema:
            type: integer
            example: 0
        -
          name: cid
          in: query
          required: false
          schema:
            type: number
            example: 816136821.177385
        -
          name: ul
          in: query
          required: false
          schema:
            type: string
            example: en-gb
        -
          name: sr
          in: query
          required: false
          schema:
            type: string
            example: "1280x800"
        -
          name: uaa
          in: query
          required: false
          schema:
            type: string
            example: arm
        -
          name: uab
          in: query
          required: false
          schema:
            type: integer
            example: 64
        -
          name: uafvl
          in: query
          required: false
          schema:
            type: string
            example: "Not%3AA-Brand;99.0.0.0|Google%20Chrome;145.0.7632.160|Chromium;145.0.7632.160"
        -
          name: uamb
          in: query
          required: false
          schema:
            type: integer
            example: 0
        -
          name: uam
          in: query
          required: false
          schema:
            type: string
            example: 
        -
          name: uap
          in: query
          required: false
          schema:
            type: string
            example: Windows
        -
          name: uapv
          in: query
          required: false
          schema:
            type: string
            example: "19.0.0"
        -
          name: uaw
          in: query
          required: false
          schema:
            type: integer
            example: 0
        -
          name: are
          in: query
          required: false
          schema:
            type: integer
            example: 1
        -
          name: frm
          in: query
          required: false
          schema:
            type: integer
            example: 0
        -
          name: pscdl
          in: query
          required: false
          schema:
            type: string
            example: noapi
        -
          name: _s
          in: query
          required: false
          schema:
            type: integer
            example: 1
        -
          name: tag_exp
          in: query
          required: false
          schema:
            type: string
            example: "103116026~103200004~115938466~115938468~116024733~117484252"
        -
          name: sid
          in: query
          required: false
          schema:
            type: integer
            example: 1773849554
        -
          name: sct
          in: query
          required: false
          schema:
            type: integer
            example: 1
        -
          name: seg
          in: query
          required: false
          schema:
            type: integer
            example: 0
        -
          name: dl
          in: query
          required: false
          schema:
            type: string
            example: "https://jsonplaceholder.typicode.com/"
        -
          name: dt
          in: query
          required: false
          schema:
            type: string
            example: JSONPlaceholder - Free Fake REST API
        -
          name: en
          in: query
          required: false
          schema:
            type: string
            example: page_view
        -
          name: _fv
          in: query
          required: false
          schema:
            type: integer
            example: 1
        -
          name: _nsi
          in: query
          required: false
          schema:
            type: integer
            example: 1
        -
          name: _ss
          in: query
          required: false
          schema:
            type: integer
            example: 1
        -
          name: _ee
          in: query
          required: false
          schema:
            type: integer
            example: 1
        -
          name: tfd
          in: query
          required: false
          schema:
            type: integer
            example: 2236
      responses:
        200:
          description: OK
  "/cdn-cgi/rum?":
    post:
      summary: "POST /cdn-cgi/rum?"
      responses:
        204:
          description: No Content
          content:
            application/json:
              schema:
                type: string
                example: 
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                memory:
                  type: object
                  properties:
                    totalJSHeapSize:
                      type: integer
                      example: 17368388
                    usedJSHeapSize:
                      type: integer
                      example: 10066880
                    jsHeapSizeLimit:
                      type: integer
                      example: 4294967296
                  required:
                    - totalJSHeapSize
                    - usedJSHeapSize
                    - jsHeapSizeLimit
                resources:
                  type: array
                  items:
{}
                referrer:
                  type: string
                  example: 
                eventType:
                  type: integer
                  example: 1
                firstPaint:
                  type: integer
                  example: 1508
                firstContentfulPaint:
                  type: integer
                  example: 1508
                startTime:
                  type: number
                  example: 1773849552623.7
                versions:
                  type: object
                  properties:
                    fl:
                      type: string
                      example: "2024.11.0"
                    js:
                      type: string
                      example: "2026.2.0"
                    timings:
                      type: integer
                      example: 2
                  required:
                    - fl
                    - js
                    - timings
                pageloadId:
                  type: string
                  example: "9e6373d3-3bad-4fcc-95a2-b716c5f2a0f0"
                  format: uuid
                location:
                  type: string
                  example: "https://jsonplaceholder.typicode.com/"
                  format: uri
                nt:
                  type: string
                  example: navigate
                timingsV2:
                  type: object
                  properties:
                    nextHopProtocol:
                      type: string
                      example: h2
                    domainLookupStart:
                      type: number
                      example: 9.600000023841858
                    domainLookupEnd:
                      type: number
                      example: 333.39999997615814
                    connectStart:
                      type: number
                      example: 333.39999997615814
                    connectEnd:
                      type: number
                      example: 786.8000000119209
                    requestStart:
                      type: number
                      example: 786.8999999761581
                    responseStart:
                      type: number
                      example: 1013.3000000119209
                    responseEnd:
                      type: number
                      example: 1042.300000011921
                    domInteractive:
                      type: number
                      example: 1495.699999988079
                    domComplete:
                      type: number
                      example: 5017.399999976158
                    loadEventStart:
                      type: number
                      example: 5017.399999976158
                    loadEventEnd:
                      type: number
                      example: 5017.600000023842
                    finalResponseHeadersStart:
                      type: number
                      example: 1013.3000000119209
                    firstInterimResponseStart:
                      type: integer
                      example: 0
                    transferSize:
                      type: integer
                      example: 3780
                    decodedBodySize:
                      type: integer
                      example: 8977
                  required:
                    - nextHopProtocol
                    - domainLookupStart
                    - domainLookupEnd
                    - connectStart
                    - connectEnd
                    - requestStart
                    - responseStart
                    - responseEnd
                    - domInteractive
                    - domComplete
                    - loadEventStart
                    - loadEventEnd
                    - finalResponseHeadersStart
                    - firstInterimResponseStart
                    - transferSize
                    - decodedBodySize
                dt:
                  type: string
                  example: 
                siteToken:
                  type: string
                  example: "2f059cbf58a24e59854ee0884c97b166"
                st:
                  type: integer
                  example: 2
              required:
                - memory
                - resources
                - referrer
                - eventType
                - firstPaint
                - firstContentfulPaint
                - startTime
                - versions
                - pageloadId
                - location
                - nt
                - timingsV2
                - dt
                - siteToken
                - st
  /posts/{postId}:
    get:
      summary: "GET /posts/{postId}"
      parameters:
        -
          name: postId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  userId:
                    type: integer
                    example: 1
                  id:
                    type: integer
                    example: 1
                  title:
                    type: string
                    example: sunt aut facere repellat provident occaecati excepturi optio reprehenderit
                  body:
                    type: string
                    example: "quia et suscipit
suscipit recusandae consequuntur expedita et cum
reprehenderit molestiae ut ut quas totam
nostrum rerum est autem sunt rem eveniet architecto"
                required:
                  - userId
                  - id
                  - title
                  - body
  /users:
    get:
      summary: GET /users
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      example: 1
                    name:
                      type: string
                      example: Leanne Graham
                    username:
                      type: string
                      example: Bret
                    email:
                      type: string
                      example: "Sincere@april.biz"
                      format: email
                    address:
                      type: object
                      properties:
                        street:
                          type: string
                          example: Kulas Light
                        suite:
                          type: string
                          example: Apt. 556
                        city:
                          type: string
                          example: Gwenborough
                        zipcode:
                          type: string
                          example: "92998-3874"
                        geo:
                          type: object
                          properties:
                            lat:
                              type: string
                              example: -37.3159
                            lng:
                              type: string
                              example: "81.1496"
                          required:
                            - lat
                            - lng
                      required:
                        - street
                        - suite
                        - city
                        - zipcode
                        - geo
                    phone:
                      type: string
                      example: "1-770-736-8031 x56442"
                    website:
                      type: string
                      example: hildegard.org
                    company:
                      type: object
                      properties:
                        name:
                          type: string
                          example: Romaguera-Crona
                        catchPhrase:
                          type: string
                          example: Multi-layered client-server neural-net
                        bs:
                          type: string
                          example: harness real-time e-markets
                      required:
                        - name
                        - catchPhrase
                        - bs
                  required:
                    - id
                    - name
                    - username
                    - email
                    - address
                    - phone
                    - website
                    - company
  /todos/{todoId}:
    get:
      summary: "GET /todos/{todoId}"
      parameters:
        -
          name: todoId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  userId:
                    type: integer
                    example: 1
                  id:
                    type: integer
                    example: 5
                  title:
                    type: string
                    example: laboriosam mollitia et enim quasi adipisci quia provident illum
                  completed:
                    type: boolean
                    example: false
                required:
                  - userId
                  - id
                  - title
                  - completed